{% extends 'layout.html' %}

{% load static %}

{% block css %}
  .contentTable{
    padding:30px;
   }
   .contentTable .newTable{
   width:100%;
   height:360px;

   display:flex;
   justify-content: space-between;

  }
   .contentTable .newTable .TextLeftpart{
    width:50%;
    height:100%;


  }
   .contentTable .newTable .TextLeftpart .richTexts{
    width:100%;
    height:300px;



   }
   .contentTable .newTable .TextLeftpart .urlText{
     width:100%;
     height:60px;


      display:flex;
    justify-content: center;
    align-items: center;
   }

   .contentTable .newTable .picRightpart{
    width:50%;
    height:100%;
     display:flex;
    justify-content: center;
    align-items: center;

  }
  .contentTable .newTable .picRightpart .appText{
                width: 90%;
				height: 278px;
				background: #fff;
				display: flex;
				margin-top: 20rpx;
				display: flex;
			    flex-direction: column;
				position: relative;
				border-radius: 5px;
				padding:20rpx;
                border:1px solid #000;
   }
   .contentTable .newTable .picRightpart .appText .titleContent{

    width:80px;
    height:22px;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 600;

    margin-top: 5px;
    margin-left: 5px;



   }
   .contentTable .newTable .picRightpart .appText .contentArticle{
   width:100%;
   height:200px;

   margin-top: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
       flex-direction: column;
   color:#000;
   font-size: 16px;
   font-weight: 600;

  }



  .contentTable .buttonPart{
   width:100%;
   height:60px;

   margin-top:10px;
   display:flex;

   justify-content: space-between;
   }
   .contentTable .buttonPart .button_left{
    width:50%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;

   }
  .contentTable .buttonPart .button_right{
    width:50%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  #tinydemo .tox-tinymce{
   width:100%;
 }



{% endblock %}


{% block content %}

  <div class="contentTable" style="width:100%;height:100%;background: rgba(255, 255, 255, 1);border-radius: 5px;overflow:hidden;">






    <div class="newTable">
       <div class="TextLeftpart">

           <div class="richTexts">

               <textarea id="tinydemo" name="comment_content" style="width:100%">{{orignContent}}</textarea>
           </div>

           <div class="urlText">
                <input type="text" class="form-control" id="musicsId" placeholder="请输入音乐链接url" value="{{music_url}}">
           </div>

       </div>
        <div class="picRightpart">

            <div class="appText">
                <div class="titleContent">每日一言</div>
                <div class="contentArticle" id="changeArticle">
                    {{contents}}

                </div>

            </div>

        </div>

    </div>

    <div class="buttonPart">

        <div class="button_left">

            <button class="btn btn-primary" style="width:100px;height:50px;" onclick="previewShow()">预览</button>
        </div>
        <div class="button_right">
             <button class="btn btn-success" style="width:100px;height:50px;"  onclick="pushNewData()">发布</button>
        </div>
    </div>

  </div>


{% endblock %}

{% block js %}
<script  src="{% static 'plugins/tinymce/tinymce.min.js' %} "></script>
    <script>
    initTiny();
    window.onload = function(){

    }

    function initTiny(){
          var tinyID='tinydemo';
     tinymce.init({
       'selector': '#'+tinyID,
       'language':'zh-Hans',
       'promotion':false,

       'width':100+"%",
       'height':300,
       'statusbar': false,
    })


    }




</script>
<script type="text/javascript">

      function previewShow(){

      var cnt = tinymce.activeEditor.getContent();
<!--      console.log(cnt,typeof(cnt));-->
      var mData =document.getElementById("changeArticle")
      mData.innerHTML=cnt

<!--      console.log(mData.innerHTML,"new")-->

    }
    function pushNewData(){
      $.ajax({
             url:"/updateIndex/",
             type:"post",
             data:{
             "quote":tinymce.activeEditor.getContent(),
             "music_url":document.getElementById("musicsId").value,
             },
             dataType:"JSON",
             success:function(res){
               if(res.status==200){

                  alert("success")
                  location.reload();

               }else{
                 alert("failed")
               }
             },

             })



     console.log("444")
    }
</script>


{% endblock %}