{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %} " />
    <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.css' %} "/>
    <title>深圳市卓勤新技术发展有限公司</title>
</head>
<body>
   <header>

       <div class="logo">
           <div>深圳市卓勤新技术发展有限公司</div>

       </div>
       <nav>
           <a href="#">关于我们</a>
           <a href="#">服务案例</a>
           <a href="#">产品矩阵</a>
           <a href="#">加入我们</a>
       </nav>
       <div class="burger">
           <div class="burger-line1"></div>
           <div class="burger-line2"></div>
           <div class="burger-line3"></div>
       </div>
   </header>
<!--   linear-gradient(rgba(55, 142, 181, 0.5), rgba(55, 142, 181, 0.2)), url(../img/hero-bg.jpg) top center;-->

   <div class="glide" style="height:calc(100vh - 80px);">

       <div style="background-image: url({% static 'imgs/bk3.png' %});
        background-repeat:no-repeat;background-size:100% 100%;height: 100%;" ></div>


   </div>


  <script src="{% static 'js/index.js' %} "></script>
</body>
</html>