{% extends 'layout.html' %}


{% block content %}
      <div class="container">
          <div style="margin-bottom:10px">
              <a class="btn btn-success" href="/pretty/add/">
                  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                  新增靓号</a>
              <div style="float:right;width:300px">
                  <form method="get">
                  <div class="input-group">

                     <input type="text" class="form-control" placeholder="Search for..." name="q" value="{{search_value}}" >
                      <span class="input-group-btn">
                          <button class="btn btn-default" type="submit">

                              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                          </button>

                      </span>

                  </div>
                      </form>
              </div>


          </div>

         <div class="panel panel-default">

          <div class="panel-heading">

             <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
             靓号列表
          </div>

          <table class="table">
            <thead>
              <tr>
                    <th>ID</th>
                    <th>手机号</th>
                    <th>价格</th>
                    <th>级别</th>
                    <th>状态</th>
                    <th>操作</th>
              </tr>
            </thead>
            <tbody>
             {% for obj  in data_list %}
              <tr>
                  <th >{{obj.id}}</th>
                  <td>{{obj.mobile}}</td>
                  <th >{{obj.price}}</th>
                  <td>{{obj.get_level_display}}</td>
                  <td>{{obj.get_status_display}}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="/pretty/{{obj.id}}/edit/">编辑</a>
                    <a class="btn btn-danger btn-xs" href="/pretty/{{obj.id}}/delete/">删除</a>
                </td>

              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>


          <nav aria-label="Page navigation">
         <ul class="pagination">

             {{page_string}}


<!--            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>-->
<!--            <li ><a href="?pagenum=1">1 <span class="sr-only">(current)</span></a></li>-->
<!--            <li><a href="?pagenum=2">2</a></li>-->
<!--            <li><a href="?pagenum=3">3</a></li>-->
<!--            <li><a href="#">4</a></li>-->
<!--            <li><a href="#">5</a></li>-->
<!--            <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>-->
        </ul>





</nav>



      </div>
{% endblock %}